<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.lukman.ntnu2015graduation" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="NTNU 2015 Graduation"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Front"
            android:label="NTNU 2015 Graduation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Front1"
            android:label="NTNU 2015 Graduation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="NTNU 2015 Graduation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Buss"
            android:label="Business Admin"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chem"
            android:label="@string/title_activity_chem"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Csc"
            android:label="Computer Science"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Econs"
            android:label="@string/title_activity_econs"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Eee"
            android:label="@string/title_activity_eee"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Eng"
            android:label="@string/title_activity_eng"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".pol"
            android:label="Pol. Sci. and Int'l Relations"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Credits"
            android:label="@string/title_activity_credits"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
